:root{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
*{
  margin:0;
  padding:0;
}
/* Dark and light theme */
.lightTheme{
  --background:whitesmoke;
  --color:black;
  --cardBackground:white;
  --buttonBackground:none;
  --imageBoxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --searchColor: rgb(200,200,200)
}
.darkTheme{
  --background:#0F0F0F;
  --color:white;
  --buttonBackground:rgb(240,240,240);
  --buttonColor:#0F0F0F;
  --CardColor:black;
  --imageBoxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --searchColor: rgb(240,240,240);

}
/* Dark and light theme */

/* Navbar  */
.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:8rem;
  background:var(--background);
  padding:0rem 6rem;
  
}
.list ul {
  display: flex;
  align-items: center;
  gap:2rem;
  list-style-type: none;
}
.list ul a{
  color:var(--color);
  text-decoration: none;
}
.search {
  border-radius: 12px;
  padding:0.3rem 0.4rem;
  background-color: var(--searchColor);
}
.search input{
  background: none;
  outline:none;
  border:none;
}

/* Navbar */

/* products Section */
.products{
  width:100vw;
  margin-top: 2rem;
  /* max-width: 100%; */
}

.productsWrapper{
  width:80vw;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardWrapper{
  /* width:25%; */
  width:22%;
}  
.card{
  /* try result with width only */
max-width:100%;
box-shadow:var(--imageBoxShadow);
padding:2rem;
text-align: center;
margin-bottom: 2rem;
background-color: var(--background);
color:var(--color);
}
.card .image img{
  width:fit-content;
  /* //try to comment it out then watch the rresults  */
  height:80px; 
  margin:0.8rem ;
  cursor:pointer;
}
.info h3{
  margin:2rem 0rem
}

/* products Section */
