:root{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
*{
  margin:0;
  padding:0;
}
/* Dark and light theme */
.lightTheme{
  --background:whitesmoke;
  --color:black;
  --cardBackground:white;
  --buttonBackground:none;
  --imageBoxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --searchColor: rgb(200,200,200)
}
.darkTheme{
  --background:#0F0F0F;
  --color:white;
  --buttonBackground:rgb(240,240,240);
  --buttonColor:#0F0F0F;
  --CardColor:black;
  --imageBoxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --searchColor: rgb(240,240,240);

}
/* Dark and light theme */

/* Navbar  */
.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:8rem;
  background:var(--background);
  padding:0rem 6rem;
  
}
.list ul {
  display: flex;
  align-items: center;
  gap:2rem;
  list-style-type: none;
}
.list ul a{
  color:var(--color);
  text-decoration: none;
}
.search {
  border-radius: 12px;
  padding:0.3rem 0.4rem;
  background-color: var(--searchColor);
}
.search input{
  background: none;
  outline:none;
  border:none;
}

/* Navbar */